<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">

	<sql id="selectBoardColumn">
		SELECT
		       BOARD_NO
		     , TITLE
		     , CONTENT
		     , WRITEN_DATE
		     , PASSWORD
		  FROM 
		       BOARD
	</sql>

	<select id="selectAll" resultType="board">
		<include refid="selectBoardColumn"/>
		 ORDER
		    BY
		       BOARD_NO
	</select>
	
	<select id="findBoardByNo" resultType="board">
		<include refid="selectBoardColumn"/>
		WHERE
		      BOARD_NO = #{boardNo}
		       
	</select>

	<insert id="createBoard">
		INSERT 
		  INTO
		       BOARD
		       (
			   TITLE
		     , CONTENT
		     , PASSWORD
			   )
	    VALUES
	           (
			   #{title}
			 , #{content}
			 , #{password}
			   )
	</insert>

	<delete id="deleteBoard">
		DELETE
		  FROM
		       BOARD
		 WHERE
		       BOARD_NO
	</delete>

</mapper>



