<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="provinceMapper" >
  
  <insert id="createProvince">
  	INSERT
  	  INTO
  	       PROVINCE
  	       (
  	       PROVINCE_NAME
  	     , LOCAL_NO 
  	       )
  	VALUES
  	       (
  	       #{provinceName}
  	     , #{localNo}
  	       )
  </insert>
  
  
  
  </mapper>