<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


	<mapper namespace="boardMapper">

		<insert id="createBoard" parameterType="board">
			INSERT 
	      INTO 
	           FRUIT_BOARD 
		       (
		       CONSUMER_NO
		     , BOARD_TITLE
		     , BOARD_CONTENT
		       )	           	
		VALUES
		       (
		       #{consumerNo}
		     , #{title}
		     , #{content}
		       )   
		</insert>


		<select id="selectBoards" resultType="board">
			SELECT
		      BOARD_NO boardNo
			 , CONSUMER_NO consumerNo
			 , BOARD_TITLE title
			 , BOARD_CONTENT content
			 , WRITEN_DATE wirtenDate
		  FROM
		       FRUIT_BOARD
		  JOIN
		       CONSUMER USING(CONSUMER_NO)
		</select>


		<select id="selectBoard" resultType="board" parameterType="_int">
				SELECT
			   BOARD_NO boardNo
			 , CONSUMER_NO consumerNo
			 , BOARD_TITLE title
			 , BOARD_CONTENT content
			 , WRITEN_DATE wirtenDate
		  FROM
		       FRUIT_BOARD
		 WHERE
		       BOARD_NO = #{boardNo}
		</select>

		<select id="selectMyBoards" resultType="board" parameterType="_int">
			SELECT
	           BOARD_NO boardNo
			 , CONSUMER_NO consumerNo
			 , BOARD_TITLE title
			 , BOARD_CONTENT content
			 , WRITEN_DATE wirtenDate
		  FROM
		       FRUIT_BOARD F
		     , CONSUMER C
		 WHERE
		       C.CONSUMER_NO = #{csmNo}
		   AND
		       C.CONSUMER_NO = F.CONSUMER_NO
		</select>
	
		<insert id="updateBoard" parameterType="board">
			UPDATE
		       FRUIT_BOARD
		   SET 
		       BOARD_TITLE = #{title}
		     , BOARD_CONTENT = #{content}
		 WHERE
		       BOARD_NO = #{boardNo}
		</insert>
	
		<delete id="deleteBoard" parameterType="_int">
			DELETE
		  FROM
		       FRUIT_BOARD
		 WHERE
		       BOARD_NO = #{boardNo}
		</delete>
	       
</mapper>

