<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>BOARD</comment>

	<entry key = "createBoard">
		INSERT 
	      INTO 
	           FRUIT_BOARD 
		       (
		       CONSUMER_NO
		     , BOARD_TITLE
		     , BOARD_CONTENT 
		       )	           	
		VALUES
		       (
		       ?
		     , ?
		     , ?
		       )      
	</entry>
	
	<entry key = "selectBoards">
		SELECT
		       BOARD_NO
		     , BOARD_TITLE
		     , CONSUMER_ID
		  FROM
		       FRUIT_BOARD
		  JOIN
		       CONSUMER USING(CONSUMER_NO)
	</entry>

	<entry key = "selectBoard">
		SELECT
			   BOARD_TITLE
			 , BOARD_CONTENT
			 , WRITEN_DATE
		  FROM
		       FRUIT_BOARD
		 WHERE
		       BOARD_NO = ?
	</entry>


	<entry key = "selectMyBoards">
		SELECT
	           BOARD_NO
			 , BOARD_TITLE
			 , CONSUMER_ID
		  FROM
		       FRUIT_BOARD F
		     , CONSUMER C
		 WHERE
		       C.CONSUMER_NO = ?
		   AND
		       C.CONSUMER_NO = F.CONSUMER_NO
	</entry>
</properties>