<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment> CONSUMER </comment>

	<entry key="isConsumerId">
		SELECT
	 	       Consumer_NO
		  FROM
		       Consumer
		 WHERE
		       Consumer_ID = ?
	</entry>
	
	<entry key="createConsumer">
		INSERT
		  INTO
		       Consumer (Consumer_ID, Consumer_PW)
		VALUES
			   (
			   ?
			 , ? 
			   )
	</entry>
	
	<entry key="login">
		SELECT
			   Consumer_NO
			 , Consumer_ID
			 , Consumer_PW
			 , HIREDATE
		  FROM
		       Consumer
		 WHERE 
		       Consumer_ID = ?
		   AND
		       Consumer_PW = ?
	</entry>



</properties>