<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  
  
  
  <typeAliases>
  	<typeAlias type="com.kh.board.model.dto.BoardDto" alias="board"/>
  	<typeAlias type="com.kh.consumer.model.dto.ConsumerDto" alias="consumer"/>
  </typeAliases>
  
	  <environments default="deployment">
	  
		  <environment id="deployment">
		  
		  	<transactionManager type="JDBC"/>
		  
		  	<dataSource type="POOLED">
		  		<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
		  		<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:XE" />
	  			<property name="username" value="system"/>
	  			<property name="password" value="1234"/>
		  	</dataSource>
		  
		  </environment>
	  
	  </environments>
  
  <mappers>
  	<mapper resource="board-mapper.xml"/>
  	<mapper resource="consumer-mapper.xml"/>
  </mappers>
  
  </configuration>