<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="restaurantMapper">
  
  	<select id="selectRestaurant" resultType="menu">
  		SELECT
  			   MENU_NO
  			 , MENU_NAME
  			 , PRICE
  			 , DECODE(SOLD_OUT, 'N', '주문가능', 'Y', '품절') AS soldOut
  	      FROM
  	           MENU
  	     WHERE
  	           REST_NO = #{restNo}
  	     ORDER
  	        BY
  	           MENU_NO
  	</select>
  
  	<select id="selectRestaurants" resultType="restaurant">
  		SELECT
  		       REST_NO
  		     , REST_NAME
  		     , CATEGORY
  		     , MIN_PRICE
  		     , DELIVERY_FEE
  		  FROM
  		       RESTAURANT
  		 ORDER
  		    BY
  		       REST_NO
  	</select>
  
  	<select id="selectAvgStar" resultType="restaurant">
		SELECT
		 	   REST_NO restNo
		     , TRUNC(AVG(REVIEW_STAR),1) avgStar
		  FROM
		       REVIEW
		  JOIN 
		       MENU USING(REST_NO)
		  JOIN
		       ORDERS USING(MENU_NO)
		 GROUP
		    BY
		       REST_NO
  	</select>
  	
  	<select id="selectByCategory" resultType="restaurant">
  		SELECT
  		       REST_NO
  		     , REST_NAME
  		     , CATEGORY
  		     , MIN_PRICE
  		     , DELIVERY_FEE
  		  FROM
  		       RESTAURANT
  		 <if test="category != null">  		 
  		 WHERE
  		 	   CATEGORY = #{category}
  		 </if>
  		 ORDER
  		    BY
  		       REST_NO
  	</select>
  	
  	

  </mapper>